<div class="listWrapper" class="ng-cloak">
	<div class="header">
		<h4>Manage Issues</h4>
		<div class="searchWrapper">
				<label>Search:
					<input ng-model="searchText">
				</label>
			<div class="addIssueWrap">
				<button ng-click="listCtrl.addIssue()">Add Issue</button>
			</div>
		</div>
	</div>
	<div class="restaurant-wrapper">
		<div class="loading" ng-show="listCtrl.loading"><img src="http://www.nasa.gov/multimedia/videogallery/ajax-loader.gif" style="width:20px;height:20px;margin:10px;"  />LOADING...</div>
		<uib-accordion close-others="true" ng-if="listCtrl.issues.length">
			<uib-accordion-group ng-repeat="issue in listCtrl.issues | orderBy:'-updated_at' | filter:searchText" remove-on-click info="listCtrl" issue="issue" edit-btn="{{listCtrl.editorEnabled[issue._id]}}" ng-if="issue.name">
				<uib-accordion-heading show="true">
						{{issue.name}}
				</uib-accordion-heading>
				<div class="testTemplate">
					<div class="issue-inner">
						<div class="description-wrapper">
							<inline-editing label="'Description'" value="issue.description" change="listCtrl.updateIssue(issue)" edit-btn="{{listCtrl.editorEnabled[issue._id]}}"></inline-editing>
							<inline-editing label="'Reported By'" value="issue.reported_by" change="listCtrl.updateIssue(issue)"></inline-editing>
						</div>
					</div>
					<div class="issue-actions">
						<button type="button" class="btn btn-primary" ng-click="listCtrl.editorEnabled[issue._id]=!listCtrl.editorEnabled[issue._id]">Edit</button>
						<button type="button" class="btn btn-danger" ng-click="remove(issue)">Delete</button>
					</div>
				</div>
			</uib-accordion-group>
		</uib-accordion>
		<div ng-if="!listCtrl.issues.length">
			<div>No active issues.</div>
		</div>
	</div>
</div>
