<div class="listWrapper" class="ng-cloak">
	<div class="header">
		<h4>Manage Issues</h4>
		<div class="searchWrapper">
				<label>Search:
					<input ng-model="searchText">
				</label>
			<div class="addIssueWrap">
				<button ng-click="listCtrl.addIssue()">Add Issue</button>
			</div>
		</div>
	</div>
	<div class="restaurant-wrapper">
		<div class="loading" ng-show="listCtrl.loading"><img src="http://www.nasa.gov/multimedia/videogallery/ajax-loader.gif" style="width:20px;height:20px;margin:10px;"  />LOADING...</div>
		<uib-accordion close-others="true" ng-if="listCtrl.issues.length">
			<uib-accordion-group ng-repeat="issue in listCtrl.issues | orderBy:'-updated_at' | filter:searchText" remove-on-click info="listCtrl" issue="issue">
				<uib-accordion-heading show="true">
						{{issue.name}}
				</uib-accordion-heading>
				<div class="testTemplate">
					<div class="issue-inner">
						<div ng-hide="listCtrl.editorEnabled[issue._id]"><b>Description : </b>{{issue.description}}</div>
						<div ng-hide="listCtrl.editorEnabled[issue._id]"><b>Reported by : </b> {{issue.reported_by}}</div>
						<div ng-show="listCtrl.editorEnabled[issue._id]">
							<input style="float:left;height:34px;margin-right:15px;" ng-model="issue.description">
							<button style="float:left;" type="button" class="btn btn-primary" ng-click="listCtrl.updateIssue(issue)">Done</button>
						</div>
					</div>
					<div class="issue-actions">
						<button type="button" class="btn btn-primary" ng-click="listCtrl.editorEnabled[issue._id]=!listCtrl.editorEnabled[issue._id]">Edit</button>
						<button type="button" class="btn btn-danger" ng-click="remove(issue)">Delete</button>
					</div>
				</div>
			</uib-accordion-group>
		</uib-accordion>
		<div ng-if="!listCtrl.issues.length">
			<div>No active issues.</div>
		</div>
	</div>
</div>
